html, body{
    height: 100%;
}

#myContainer{
    height: 100%;
}

#myRow{
    height: inherit;
}

#leftPane{
    background-color: rgba(0,66,99); 
}

#leftPane h1{
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    width: 100%;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
}

#rightPane{
    background-color: whitesmoke;
    margin-left: 0;
    
}

#rightPane messages{
    height: 90%;
    margin: 0;
    overflow-y: true;
}

#message{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 10px 2px 10px 2px;
    border: 1px;
    border-color: black;
    background-color: rgba(0,0,0,0.2);
}

#message-form{
    display: inline;
}

#message-form input{
    width: 70%;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

#message button{
    background: rgba(0,66,99);
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 5px;
    height: 40px;
    width: 150px;
}

#message_container{
    height: 90%;
}

#messages{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    max-height: 100%;
    overflow: auto;
}

#messages li{
    padding: 3px 0 1px 15px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgba(0,66,99,0.8);
    color: whitesmoke;
}

.temp_top{
    margin-bottom: 0;
}

.temp_bottom{
    margin-top: 0;
}

.temp_top p{
    display: inline;
    font-weight: bold;
    font-size: 18px;
}

.temp_bottom p{
    margin-top: 1px;
}